# Python files/folders
__pycache__/
*.pyc
/venv/
.env

.vscode/

/KiCad/*.kicad_prl

/KiCad/*.lck

/KiCad/rubiks-cub-backups/

/KiCad/*.kicad_session

#Generic temp files
/KiCad/*~

/KiCad/gerbers/
/KiCad/plots/
/KiCad/*.gbr
/KiCad/*.drl
/KiCad/*.pos
/KiCad/*.rpt


#embedded code
/rubiks-bare-metal/build
/rubiks-bare-metal/mx.scratch
/rubiks-bare-metal/!.settings